# Виртуальное окружение
venv/
env/
.venv/

# База данных (не храним в репозитории, чтобы не было конфликтов)
*.db
*.sqlite
*.sqlite3

# Конфиденциальные данные
.env

# Файлы Python
__pycache__/
*.py[cod]
*.pyo

# Журналы и временные файлы
*.log
*.tmp

# IDE
.vscode/
.idea/
*.iml